<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twotter</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="text">🐦 Twotter</h1>
    
    <div style="display: flex;">
        <div class="menu"></div>
        <div class="center-column">
            {{twots}}
        </div>
        <div class="trendings"></div>
    </div>
</body>
</html>